---
import Layout from '@layouts/Default.astro';
import Projects from '@components/generic/Projects.astro';


---

<Layout
  title='Home'
  pageTitle='Chindogu Labs | Home'
  description='Building the un-useless.'
>
  <main class='bg-pink p-6'>
     <Projects title="Current Projects" collection="projects"/>
     <Projects title="☠️ Graveyard ☠️" collection="graveyard"/>
  </main>
</Layout>
