---
import type { CollectionEntry } from 'astro:content';
import clsx from 'clsx';
import BlogSummaryCard from './BlogSummaryCard.astro';

interface Props {
  posts: CollectionEntry<'projects'>[] | CollectionEntry<'graveyard'>[]
}

const { posts } = Astro.props;
---

<ul class={clsx(posts.length > 1 ?'grid md:grid-cols-2 lg:grid-cols-3 gap-8' : 'flex justify-center items-center')}>
  {
    posts.map((post) => {
      return (
        <li>
          <BlogSummaryCard post={post} />
        </li>
      );
    })
  }
</ul>
